
.nav{
    position: absolute;
    z-index: -1;
}
.card{
    margin-top: -20px;
    border: none;
}
#todo {
    border: 0;
    outline: 0;
    border-bottom: 2px solid #03a8f45e;
    font-size: 1.4rem;
    background: transparent;       
  }
  button.close {
    background: #d73e4d;
    background: rgba(215, 62, 77, 0.75);
    border: 0 none !important;
    color: #fff7cc;
    display: inline-block;
    font-size: 21px;
    height: 20px;
    width: 20px;
    line-height: 1;
    margin: 0px 1px;
    opacity: 1;
    text-align: center;
    text-shadow: none;
    -webkit-transition: background 0.2s ease-in-out;
    transition: background 0.2s ease-in-out;
    vertical-align: top;
}